.popup {
    min-width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 50px 25px;
    box-sizing: border-box;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}