header {
    max-width: 75vw;
    padding: 2.5rem 1.5rem;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
}

.header__link {
    margin-right: 0.5rem;
}