* {
    padding: 0;
    margin: 0;
    /*transition: 0.3s linear;*/
}

body, html {
    font-size: 10px;
    color: black;
    position: relative;
}

.app-wrapper {
    background-color: #eeeeee;
    height: 100vh;
    font-size: 2rem;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    opacity: 0.6;
}

.content {
    width: 75vw;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

button {
    width: 150px;
    height: 40px;
    border: none;
    background: cadetblue;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
}

input {
    width: 100%;
    height: 40px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
    margin-top: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background: #eeeeee;
}

label {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.error {
    font-size: 1.4rem;
    color: red;
    margin-bottom: 1rem;
}

.status {
    font-size: 1.2rem;
    font-weight: bold;
}

.approved {
    color: yellowgreen;
}

.not-approved {
    color: orangered;
}

textarea {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 150px;
    display: block;
}

.delete {
    background: orangered;
}

.submit {
    cursor: pointer;
    color: olive;
}
