.news {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.news input {
    width: 100%;
}

.news__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    width: 100%;
}

.news__item {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;

}

.news__title {
    font-size: 1.8rem;
    color: darkcyan;
    margin-bottom: 1rem;
    display: block;
}

.news__description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    flex-grow: 1;
}

.news__date {
    font-size: 1.4rem;
    color: darkcyan;
    font-weight: bold;
}

.news__bottom {
    display: flex;
    justify-content: space-between;
}

.news__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.news__top button {
    font-size: 1.2rem;
    padding: 10px;
}

.news__top button:not(:last-child) {
    margin-right: 1rem;
}